<div class="footer">
  <span jhiTranslate="footer">Copyright © 2021 Xperis HCI, released under version 2.0 of the</span>
  <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License</a>
</div>
