<div>
  <h2 id="page-heading" data-cy="PluginHeading">
    <span jhiTranslate="xperisApp.plugin.home.title">Plugins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.plugin.home.refreshListLabel">Refresh List</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity" (click)="reloadFolder()">
        <fa-icon icon="redo"></fa-icon>
        <span jhiTranslate="xperisApp.plugin.home.reloadFolder"> Reload Plugins Folder </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="plugins?.length === 0">
    <span jhiTranslate="xperisApp.plugin.home.notFound">No plugins found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plugins && plugins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="xperisApp.plugin.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
          <th scope="col" jhiSortBy="className">
            <span jhiTranslate="xperisApp.plugin.className">Data Structure</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileName">
            <span jhiTranslate="xperisApp.plugin.fileName">Viewer Classes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataMimeType.name">
            <span jhiTranslate="xperisApp.plugin.dataMimeType">Data Mime Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plugin of plugins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plugin', plugin.id, 'view']">{{ plugin.id }}</a>
          </td>
          <td>{{ plugin.name }}</td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              (click)="setActive(plugin, true)"
              *ngIf="!plugin.activated"
              jhiTranslate="userManagement.deactivated"
            >
              Deactivated
            </button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(plugin, false)"
              *ngIf="plugin.activated"
              jhiTranslate="userManagement.activated"
            >
              Activated
            </button>
          </td>
          <td>{{ plugin.className }}</td>

          <td>{{ plugin.fileName }}</td>
          <td>
            <div *ngIf="plugin.dataMimeType">
              <a [routerLink]="['/data-mime-type', plugin.dataMimeType?.id, 'view']">{{ plugin.dataMimeType?.type }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plugin', plugin.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/plugin', plugin.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plugins && plugins.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
