<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dataMimeType">
      <h2 data-cy="dataMimeTypeDetailsHeading"><span jhiTranslate="xperisApp.dataMimeType.detail.title">Data Mime Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dataMimeType.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataMimeType.type">Type</span></dt>
        <dd>
          <span>{{ dataMimeType.type }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataMimeType.description">Description</span></dt>
        <dd>
          <span>{{ dataMimeType.description }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.dataMimeType.fileExtension">File Extension</span></dt>
        <dd>
          <span>{{ dataMimeType.fileExtension }}</span>
        </dd>
      </dl>
      <jhi-audit [entity]="dataMimeType"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/data-mime-type', dataMimeType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
