<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-experiment-meta-data-heading"
        data-cy="ExperimentMetaDataCreateUpdateHeading"
        jhiTranslate="xperisApp.experimentMetaData.home.createOrEditLabel"
      >
        Create or edit a Experiment Meta Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentMetaData.experiment" for="field_experiment">Experiment</label>
          <select
            *ngIf="editForm.get('id')!.value == null"
            class="form-control"
            id="field_experiment"
            data-cy="experiment"
            name="experiment"
            formControlName="experiment"
          >
            <option *ngIf="!editForm.get('experiment')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                experimentOption.id === editForm.get('experiment')!.value?.id ? editForm.get('experiment')!.value : experimentOption
              "
              *ngFor="let experimentOption of experimentsSharedCollection; trackBy: trackExperimentById"
            >
              {{ experimentOption.name }}
            </option>
          </select>
          <input
            *ngIf="editForm.get('id')!.value != null"
            type="text"
            class="form-control"
            name="experimentName"
            id="field_experimentName"
            data-cy="experimentName"
            formControlName="experimentName"
            [readonly]="true"
            value="experiment.name"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentMetaData.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentMetaData.dataStructure" for="field_dataStructure"
            >Data Structure</label
          >
          <textarea
            class="form-control"
            name="dataStructure"
            id="field_dataStructure"
            data-cy="dataStructure"
            formControlName="dataStructure"
          ></textarea>
          <div
            *ngIf="
              editForm.get('dataStructure')!.invalid && (editForm.get('dataStructure')!.dirty || editForm.get('dataStructure')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dataStructure')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.experimentMetaData.dataMimeType" for="field_dataMimeType"
            >Data Mime Type</label
          >
          <select class="form-control" id="field_dataMimeType" data-cy="dataMimeType" name="dataMimeType" formControlName="dataMimeType">
            <option *ngIf="!editForm.get('dataMimeType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                dataMimeTypeOption.id === editForm.get('dataMimeType')!.value?.id ? editForm.get('dataMimeType')!.value : dataMimeTypeOption
              "
              *ngFor="let dataMimeTypeOption of dataMimeTypesSharedCollection; trackBy: trackDataMimeTypeById"
            >
              {{ dataMimeTypeOption.type }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['dataMimeType'])!.invalid && (editForm.get(['dataMimeType'])!.dirty || editForm.get(['dataMimeType'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['dataMimeType'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
