<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-plugin-heading" data-cy="PluginCreateUpdateHeading" jhiTranslate="xperisApp.plugin.home.createOrEditLabel">
        Create or edit a Data Template
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.plugin.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.plugin.className" for="field_className">Data Structure</label>
          <textarea class="form-control" name="className" id="field_className" data-cy="className" formControlName="className"></textarea>
          <div *ngIf="editForm.get('className')!.invalid && (editForm.get('className')!.dirty || editForm.get('className')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('className')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="activated">
            <input
              class="form-check-input"
              [attr.disabled]="editForm.get('id')!.value == null ? 'disabled' : null"
              type="checkbox"
              id="activated"
              name="activated"
              formControlName="activated"
            />
            <span jhiTranslate="userManagement.activated">Activated</span>
          </label>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.plugin.fileName" for="field_fileName">Viewer Classes</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="xperisApp.plugin.dataMimeType" for="field_dataMimeType">Data Mime Type</label>
          <select class="form-control" id="field_dataMimeType" data-cy="dataMimeType" name="dataMimeType" formControlName="dataMimeType">
            <option *ngIf="!editForm.get('dataMimeType')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                dataMimeTypeOption.id === editForm.get('dataMimeType')!.value?.id ? editForm.get('dataMimeType')!.value : dataMimeTypeOption
              "
              *ngFor="let dataMimeTypeOption of dataMimeTypesSharedCollection; trackBy: trackDataMimeTypeById"
            >
              {{ dataMimeTypeOption.type }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['dataMimeType'])!.invalid && (editForm.get(['dataMimeType'])!.dirty || editForm.get(['dataMimeType'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['dataMimeType'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
