<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="institution">
      <h2 data-cy="institutionDetailsHeading"><span jhiTranslate="xperisApp.institution.detail.title">Institution</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="xperisApp.institution.id">Id</span></dt>
        <dd>
          <span>{{ institution.id }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.institution.name">Name</span></dt>
        <dd>
          <span>{{ institution.name }}</span>
        </dd>
        <dt><span jhiTranslate="xperisApp.institution.employees">Employees</span></dt>
        <dd>
          <span *ngFor="let employees of institution.employees; let last = last"> {{ employees.login }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>
      <jhi-audit [entity]="institution"></jhi-audit>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/institution', institution.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
