<div>
  <h2 id="page-heading" data-cy="ExperimentHeading">
    <span jhiTranslate="xperisApp.experiment.home.title">Experiments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xperisApp.experiment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_MASTER'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-experiment"
        [routerLink]="['/experiment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xperisApp.experiment.home.createLabel"> Create a new Experiment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="experiments?.length === 0">
    <span jhiTranslate="xperisApp.experiment.home.notFound">No experiments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="experiments && experiments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="xperisApp.experiment.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="xperisApp.experiment.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="xperisApp.experiment.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finishCaptureDate">
            <span jhiTranslate="xperisApp.experiment.finishCaptureDate">Finish Capture Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finishDate">
            <span jhiTranslate="xperisApp.experiment.finishDate">Finish Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="xperisApp.experiment.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="xperisApp.experiment.experimentMetaData">Experiment Meta Data</span>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="userManagement.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experiment of experiments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/experiment', experiment.id, 'view']">{{ experiment.id }}</a>
          </td>
          <td>{{ experiment.name }}</td>
          <td>{{ experiment.description }}</td>
          <td>{{ experiment.startDate | formatMediumDatetime }}</td>
          <td>{{ experiment.finishCaptureDate | formatMediumDatetime }}</td>
          <td>{{ experiment.finishDate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'xperisApp.ExperimentStatus.' + experiment.status }}">{{ experiment.status }}</td>
          <td>
            <div *ngIf="experiment.experimentMetaData">
              <a *ngFor="let metaData of experiment.experimentMetaData" [routerLink]="['/experiment-meta-data', metaData.id, 'view']">
                {{ metaData.description }}&nbsp;({{ metaData.dataMimeType?.type }})
              </a><br />
            </div>
          </td>
          <td>{{ experiment.createdBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/experiment', experiment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                type="submit"
                [routerLink]="['/experiment', experiment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                *jhiHasAnyAuthority="'ROLE_MASTER'"
                (click)="delete(experiment)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="experiments && experiments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
